
$alabaster: #fafafa;
$alabaster-variant: #f9f9f9;
$gray-radiance:#3E3E3E;
$gray-radiance-variant:#464444;
$azure-radiance-variant: #00ACFF;
$black: #000;
$boulder: #757575;
$deep-sea-green:#094E6E;
$dove-gray:#666;
$dusty-gray:#999999;
$dusty-gray-variant:#979797;
$gray:#878787;
$mercury: #e5e5e5;
$mercury-variant: #e4e4e4;
$wedgewood: #4b85a2;
$seashell: #F1F1F1;
$tundora:#444;
$white: #fff;


